.text{
    margin: 10px;
    padding: 30px;
    width: 180px;
    height: 180px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}